@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto-Flex';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/RobotoFlex-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/BebasNeue-Regular.ttf) format('ttf');
  }
}

